body, html{
    height: 100%;
}

article::after{
    content: '';
    animation: mover 2s;
    color: #fff;
    margin: 4em auto;
    padding: 3em;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    background-color: #00fff0;
}
p{
    font-size: 2.5em;
}
@keyframes mover{
    to{
        transform: translateX(101%);
    }
}